IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=

ADMIN_UIDS=

APP_BASE_URL=

SHOPIFY_WEBHOOK_SECRET=

FIREBASE_PRIVATE_KEY=

SHOPIFY_STORE_DOMAIN=
SHOPIFY_ADMIN_TOKEN=
SHOPIFY_API_VERSION=
SHOPIFY_LOCATION_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
